<!-- <a 
style="cursor: pointer;"
[routerLink]="[document.id]"
routerLinkActive="active"
class="list-group-item clearfix imageDiv" 
>
    {{ document.name }}
</a> -->

<img class="list-group-item clearfix imageDiv" 
     src="../assets/images/img1.jpg" 
     style="cursor: pointer;">
<img class="list-group-item clearfix imageDiv" 
     src="../assets/images/img2.jpg" 
     style="cursor: pointer;">
<img class="list-group-item clearfix imageDiv" 
     src="../assets/images/img3.jpg" 
     style="cursor: pointer;">
<img class="list-group-item clearfix imageDiv" 
     src="../assets/images/img4.jpg" 
     style="cursor: pointer;">
     <img class="list-group-item clearfix imageDiv" 
     src="../assets/images/img5.jpg" 
     style="cursor: pointer;">
<img class="list-group-item clearfix imageDiv" 
     src="../assets/images/img6.jpg" 
     style="cursor: pointer;">
<img class="list-group-item clearfix imageDiv" 
     src="../assets/images/img7.jpg" 
     style="cursor: pointer;">
<img class="list-group-item clearfix imageDiv" 
     src="../assets/images/img8.jpg" 
     style="cursor: pointer;">
     <img class="list-group-item clearfix imageDiv" 
     src="../assets/images/img9.jpg" 
     style="cursor: pointer;">
<img class="list-group-item clearfix imageDiv" 
     src="../assets/images/img10.jpg" 
     style="cursor: pointer;">
<img class="list-group-item clearfix imageDiv" 
     src="../assets/images/img11.jpg" 
     style="cursor: pointer;">
<img class="list-group-item clearfix imageDiv" 
     src="../assets/images/img12.jpg" 
     style="cursor: pointer;">