<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">Contacts</h1>
        <a routerLink="/contacts/new" class="btn btn-success">New Contact</a>

    </div>
    <div class="panel-body">
        <cms-contact-item 
        *ngFor="let contactElement of contacts"
        [contact]="contactElement"
        (contactSelected)="onContactSelected(contactElement)"></cms-contact-item>

        <!-- RECIPE APP CODE
        <app-recipe-item
        *ngFor="let recipeEl of recipes"
        [recipe]="recipeEl"
        (recipeSelected)="onRecipeSelected(recipeEl)"></app-recipe-item> -->

    </div>
</div>