.panel-heading {
    display: flex;
    justify-content: space-between;
}
.margin-left-button {
    margin-left: 3px;
}
.margin-bottom-button {
    margin-bottom: 3px;
}
.big-margin-left {
    margin-left: 10px;
}