<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">{{ contact.name }}</h1>
        <img [src]="contact.imageUrl" alt="{{ contact.name }}">
        <div>
            <button class="btn btn-primary">Edit</button>
            <button class="btn btn-danger margin-left-button">Delete</button>
        </div>


    </div>
    <div class="panel-body">
                <h4>Email: <span>{{ contact.email }}</span></h4>
                <h4>Phone: <span>{{ contact.phone }}</span></h4> 
    </div>
</div>