<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">{{ contact.name }}</h1>
            <img *ngIf="contact.imageUrl && contact.imageUrl != ' '" [src]="contact.imageUrl" alt="{{ contact.name }}" style="max-width: 150px; max-height: 150px;">
            <div>
                <a routerLink="edit" class="btn btn-primary margin-left-button margin-bottom-button">Edit</a>
                <a (click)="onDelete()" class="btn btn-danger margin-left-button">Delete</a>
            </div>
        </div>
        <div class="panel-body">
            <h4 *ngIf="contact.email && contact.email != ' '">Email: <span>{{ contact.email }}</span></h4>
            <h4 *ngIf="contact.phone && contact.phone != ' '">Phone: <span>{{ contact.phone }}</span></h4> 
            <div *ngIf="contact.group">
                <hr>
                <h4>Group Contacts:</h4> 
                <div *ngFor="let groupContact of contact.group" class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">{{ groupContact.name }}</h1>
                        <img [src]="groupContact.imageUrl" alt="{{ groupContact.name }}" style="max-width: 150px; max-height: 150px;">
                        <div>
                            <a routerLink="edit" class="btn btn-primary margin-left-button margin-bottom-button">Edit</a>
                            <a (click)="onDeleteGroupContact(groupContact.id)" class="btn btn-danger margin-left-button">Delete</a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <h4>Email: <span>{{ groupContact.email }}</span></h4>
                        <h4>Phone: <span>{{ groupContact.phone }}</span></h4> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
