<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">user.username</h1>
            <img alt="TEMPORARY" src="../assets/images/img12.jpg" >
            <!-- <img *ngIf="contact.imageUrl && contact.imageUrl != ' '" [src]="contact.imageUrl" alt="{{ contact.name }}" style="max-width: 150px; max-height: 150px;"> -->
            <div>
                <!-- <a routerLink="edit" class="btn btn-primary margin-left-button margin-bottom-button">Edit</a>
                <a (click)="onDelete()" class="btn btn-danger margin-left-button">Delete</a> -->
                <a class="btn btn-primary margin-left-button margin-bottom-button">Edit</a>
                <a class="btn btn-danger margin-left-button">Delete</a>
            </div>
        </div>
        <div class="panel-body">
            <h4>Caption: <span>image.caption</span></h4>
            <h4>Comments: <span>use ngIf to display image.comments</span></h4> 
        </div>
    </div>
</div>
