<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <img class ="profileImageDetail" src="{{ image.url }}" >
            <div>
                <br>
                <a routerLink="edit" class="btn btn-primary">Edit</a>
                <a (click)="onDelete()" class="btn btn-danger margin-left-button">Delete</a>
            </div>
        </div>
        <div class="panel-body">
            <h4>Caption: <span>{{ image.caption }}</span></h4>
            <!-- <h4>Comments: <span>use ngIf to display image.comments</span></h4>  -->
        </div>
    </div>
</div>
