<div class="panel panel-default">
    <div class="panel-heading">
        <div  class=" flex-container space-between">
            <img src="../assets/images/img1.jpg" class="profile-user-pic">
            <a routerLink="/profile/newpost" class="btn btn-success">New Post</a>
        </div>
        <div class="profile-username">
            <h1 class="panel-title">AlexandraDerby</h1>
        </div>
    </div>
    <div class="panel-body">
        <div class="center-panel">
            <app-image-item 
            *ngFor="let image of images"
            [image]="image"></app-image-item>
        </div>
    </div>
  </div>