<div class="panel panel-default">
    <div class="panel-heading">
        <div>
            <img src="{{ post.user.profilePictureUrl }}" class="profile-user-pic">
        </div>
        <div class="profile-username">
            <h1 class="panel-title">{{post.user.username}}</h1>
        </div>
    </div>
    <div class="panel-body">
        <div class="center-panel imageDiv">
            <!-- <cms-document-item 
            *ngFor="let document of documents"
            [document]="document"></cms-document-item> -->
            <img class="feed-image" src="{{ post.image.url }}">
        </div>
    </div>
    <div class="panel-body">
        <span class="glyphicon glyphicon-heart icon-space icon-size"></span>
        <span class="glyphicon glyphicon-comment icon-size"></span>
        <p>{{ post.image.caption }}</p>
    </div>
</div>