<div class="panel panel-default">
    <div class="panel-heading">
        <div>
            <img src="../assets/images/img11.jpg" class="profile-user-pic">
        </div>
        <div class="profile-username">
            <h1 class="panel-title">Username</h1>
        </div>
    </div>
    <div class="panel-body">
        <div class="center-panel imageDiv">
            <!-- <cms-document-item 
            *ngFor="let document of documents"
            [document]="document"></cms-document-item> -->
            <img class="feed-image" src="../assets/images/img3.jpg">
        </div>
    </div>
    <div class="panel-body">
        <span class="glyphicon glyphicon-heart icon-space icon-size"></span>
        <span class="glyphicon glyphicon-comment icon-size"></span>
        <p>Image Caption goes here (image.caption)</p>
    </div>
</div>