<div class="panel panel-default">
    <div class="panel-body">
  
      <form (ngSubmit)="onSubmit(f)" id="image-create" #f="ngForm">
  
        <div class="row">
            <div class="col-sm-12 form-group">
              <label for="url">Image URL:</label>
              <input
                type="text"
                id="url"
                class="form-control"
                size="150"
                max="255"
                name="url"
                [ngModel]="image?.url"
                #url="ngModel"
                required>
            </div>
          </div>

        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="description">Image Caption:</label>
            <input
              type="text"
              id="description"
              class="form-control"
              size="150"
              max="255"
              name="caption"
              [ngModel]="image?.caption">
          </div>
        </div>
  
        <div class="row">
          <div class="col-xs-12 btn-toolbar">
            <button class="btn btn-success" type="submit" [disabled]="!f.valid">Save</button>
            <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
          </div>
        </div>
  
      </form>
  
    </div>
  </div>
  
  